<!-- Image and text -->
<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="#">
      <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      Console and Circle
    </a>
  </nav>
  <div>Content :{{textAreaContent}}</div>
  <form>
  <div class="form-group">
    <label for="textarea">Make a post:</label>
    <textarea class="form-control" id="textarea" rows="3" [(ngModel)]="textAreaContent"></textarea>
  </div>
</form>
  <button type="button" class="btn btn-success" (click)="postNote()">Save</button>
<router-outlet></router-outlet>
